<footer class="footer" style="background-color: #073B15; margin-top: 60px">
  <div class="container">
    <p class="text-muted" style="margin-bottom: 0px; margin-top: 5px">My Recipes Footer</p>
  </div>
</footer>